@import "./constants.scss";

footer.footer-container {
  align-items: center;
  background-color: $dark-color;
  display: flex;
  flex-direction: row;
  padding: $measure-margin;
  width: 100%;

  .text-info {
    flex: 1;
    padding: 0 $measure-margin;

    p {
      margin: $measure-margin 0;
    }
  }

  .container-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: $measure-margin;
    
    figure {
      padding: $measure-margin;
      
      img {
        border-radius: 50%;
        width: $measure-margin * 3;
      }
    }

    p {
      text-align: center;
    }
  }
}


